{
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
        }
      }
    ]
  ],
  "env": {
    "prd":{
      "presets":[
        [
          "env",
          {
            "targets":{
              "browsers":["last 2 Chrome versions", "last 2 Edge versions", "last 2 Firefox versions"]
            },
            "modules":false,
            "debug":false,
            "useBuiltIns":true
          }
        ]
      ],
      "plugins":["external-helpers"]
    },
    "dev":{
      "presets":[
        [
          "env",
          {
            "targets":{
              "ie":11,
              "browsers":["last 2 Chrome versions", "last 2 Edge versions", "last 2 Firefox versions"]
            },
            "modules":false,
            "debug":true,
            "useBuiltIns":true
          }
        ]
      ],
      "plugins":["external-helpers"]
    },
    "test":{
      "presets":[
        [
          "env",
          {
            "targets":{
              "node":"current"
            },
            "debug":true,
            "useBuiltIns":true
          }
        ]
      ]
    }
  }
}
